:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --main-title-color: #FFC2E6;
  --title-color: #353430;
  --emphasis-text-color: #353430;
  --text-color: #353430;
  --emphasis-color: #FF8DCB;
}

.theme-light .rec::after {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.theme-light .rec::before {
  content: "";
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 40%);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --main-title-color: #FFC2E6;
    --title-color: #353430;
    --emphasis-text-color: #353430;
    --text-color: #353430;
    --emphasis-color: #FF8DCB;
  }
  .theme-auto .rec::after {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  
  .theme-auto .rec::before {
    content: "";
  }

  .theme-auto .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 40%);
  }
}
